### API


#### What is API

API stands for **Application Programming Interface**. An API is a software intermediary that allows two applications to talk to each other.  In other words, an API is the messenger that delivers your request to the provider that you’re requesting it from and then delivers the response back to you.

#### How do APIs work?
Imagine a waiter in a restaurant.  You, the customer, are sitting at the table with a menu of choices to order from, and the kitchen is the provider who will fulfill your order.

You need a link to communicate your order to the kitchen and then to deliver your food back to your table. It can’t be the chef because she’s cooking in the kitchen. You need something to connect the customer who’s ordering food and the chef who prepares it.  That’s where the **waiter** — or the **API** —  enters the picture.

The waiter takes your order, delivers it to the kitchen, telling the kitchen what to do. It then delivers the response, in this case, the food, back to you. Moreover, if the API is designed correctly, hopefully, your order won’t crash!

#### A real example of an API

How are APIs used in the real world? Here’s a very common scenario of the API economy at work: booking a flight.

When you search for flights online, you have a menu of options to choose from. You choose a departure city and date, a return city and date, cabin class, and other variables like your meal, your seat, or baggage requests.

To book your flight, you need to interact with the airline’s website to access the airline’s database to see if any seats are available on those dates, and what the cost might be based on the date, flight time, route popularity, etc.

You need access to that information from the airline’s database, whether you’re interacting with it from the website or an online travel service that aggregates information from multiple airlines. Alternatively, you might be accessing the information from a mobile phone. In any case, you need to get the information, and so the application must interact with the airline’s API, giving it access to the airline’s data.

**APIs provide a standard way of accessing any application data, or device**

### List of API 

- Pandas_datareader
- Fixer.io
- 阿凡达云数据
- Tushare

### Pandas_datareader

#### Install 
pip install pandas-datareader

#### Data Readers
- AlphaVantage
- Federal Reserve Economic Data (FRED)
- Fama-French Data (Ken French’s Data Library)
- Bank of Canada
- Econdb
- Enigma
- Eurostat
- The Investors Exchange (IEX)
- Moscow Exchange (MOEX)
- NASDAQ
- Naver Finance
- Organisation for Economic Co-operation and Development (OECD)
- Quandl
- Stooq.com
- Tiingo
- Thrift Savings Plan (TSP)
- World Bank

You may not be able to use all datasets. 

Please refer to its Github Repo for more details: [link here](https://pandas-datareader.readthedocs.io/en/latest/readers/index.html)

#### Data from FRED St.Louis

In [4]:
import pandas_datareader as pdr
pd = pdr.get_data_fred('GS10')
pd.head()

            GS10
DATE
2015-12-01  2.24
2016-01-01  2.09
2016-02-01  1.78
2016-03-01  1.89
2016-04-01  1.81

In [2]:
import pandas_datareader.data as web
import datetime
start = datetime.datetime(2015,1,1)
end = datetime.datetime(2020,1,1)
gdp = web.DataReader('GDP', 'fred', start, end)
gdp.head()

                  GDP
DATE
2015-01-01  18003.399
2015-04-01  18223.577
2015-07-01  18347.425
2015-10-01  18378.803
2016-01-01  18470.156

#### Data from Yahoo

In [3]:
# Get data from Yahoo
import pandas_datareader.data as web
import datetime
start = datetime.datetime(2019, 1, 1) # or start = '1/1/2016'
end = datetime.date.today()
prices = web.DataReader('AAPL', 'yahoo', start, end)
prices.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-10-23,116.550003,114.279999,116.389999,115.040001,82572600.0,115.040001
2020-10-26,116.550003,112.879997,114.010002,115.050003,111850700.0,115.050003
2020-10-27,117.279999,114.540001,115.489998,116.599998,92276800.0,116.599998
2020-10-28,115.430000,111.099998,115.050003,111.199997,143525000.0,111.199997
2020-10-29,115.328499,112.279999,112.370003,115.143997,61523716.0,115.143997

#### 有用的命令 requests

The requests module allows you to send HTTP requests using Python.

The HTTP request returns a `Response Object` with all the response data (content, encoding, status, etc).


Detail: https://www.w3schools.com/python/module_requests.asp

#### JSON

JSON(JavaScript Object Notation, JS 对象简谱) 是一种轻量级的数据交换格式。它基于 ECMAScript (欧洲计算机协会制定的js规范)的一个子集，采用完全独立于编程语言的文本格式来存储和表示数据。简洁和清晰的层次结构使得 JSON 成为理想的数据交换语言。 易于人阅读和编写，同时也易于机器解析和生成，并有效地提升网络传输效率。

#### Fixer.io

Powered by 15+ exchange rate data sources, the Fixer API is capable of delivering real-time exchange rate data for 170 world currencies. The API comes with multiple endpoints, each serving a different use case. Endpoint functionalities include getting the latest exchange rate data for all or a specific set of currencies, converting amounts from one currency to another, retrieving Time-Series data for one or multiple currencies and querying the API for daily fluctuation data.

https://fixer.io/quickstart

You need to sign in and get an access key to kick off

In [5]:
def get_fixer_hist(date, symbols = 'USD,AUD,CAD,CNY,CHF,GBP,HKD'):
    import requests
    import json
    # get the data from Fixer.io the 
    # You need to sign in to obtain a free access_key 
    access_key = '0287efab831449699ce8333ec5307d00'
    root_url = 'http://data.fixer.io/api/'
    # Make the URL
    url = root_url + date +'?'+ 'access_key='+ access_key + '&symbols=' + symbols + '&format=1'
    # Creat a header
    headers = {'User-Agent': 'Mozilla/5.0 (Windows; U; Windows NT 6.1; en-US) AppleWebKit/534.16 (KHTML, like Gecko) Chrome/10.0.648.133 Safari/534.16'}
    # request data from API
    res = requests.get(url, headers = headers)
    # Get content, in case of Chinese we need to encode
    content = res.text
    # Load JSON data
    dcon = json.loads(content)
    return dcon['date'], dcon['rates'], url

dat = input('Please input a date with a proper format YYYY-MM-DD:')
date, rates, url = get_fixer_hist(dat)
print('Exchange Rate on {}:'.format(date))
for key,values in rates.items():
    print('1 '+ key +' = '+ str(values) +' EUR')

Please input a date with a proper format YYYY-MM-DD: 2020-07-01

Exchange Rate on 2020-07-01:
1 USD = 1.1251 EUR
1 AUD = 1.627963 EUR
1 CAD = 1.529405 EUR
1 CNY = 7.955806 EUR
1 CHF = 1.064142 EUR
1 GBP = 0.902684 EUR
1 HKD = 8.720366 EUR

#### 阿凡达云数据平台

http://api.avatardata.cn/ActNews/Query?key=3c901762cd104a2793df344b6015ff00&keyword=

In [5]:
def avatardata(keyword):
    import requests
    import json
    
    access_key = '3c901762cd104a2793df344b6015ff00'
    root_url = 'http://api.avatardata.cn/ActNews/Query?'
    url = root_url + 'key=' + access_key + '&keyword=' + keyword
    headers = {'User-Agent': 'Mozilla/5.0 (Windows; U; Windows NT 6.1; en-US) AppleWebKit/534.16 (KHTML, like Gecko) Chrome/10.0.648.133 Safari/534.16'}
    # request data from API
    res = requests.get(url, headers = headers)
    # Get content, in case of Chinese we need to encode
    content = res.text
    # Load JSON data
    dcon = json.loads(content)
    return dcon['result'], url

keyword = input('想听谁的八卦:')
res, url = avatardata(keyword)

for r in res:
    print(r['full_title'] +'  '+ r['pdate_src'] )

想听谁的八卦: 拜登

拜登幕僚:拜登若当选 将与盟友联手打压中国贸易  2020-10-29 17:01:12
拜登完成2020年美国大选投票  2020-10-29 09:57:55
拜登誓言要在上任100天内通过《平等法案》  2020-10-29 08:21:00
路透:如果拜登当选 他将首先与美国盟友磋商贸易问题  2020-10-29 12:12:00

### Tushare

tushare.pro

In [7]:
import tushare as ts

tushare_token = '1c8b06446534ae510c8c68e38fc248b99f89ac3814cb55645ae2be72'  # 请在 tushare.pro 网站注册并且告知学生身份，可以取得你的token
pro = ts.pro_api(tushare_token)


df = pro.fund_company()
df.head()

,name,shortname,province,city,address,phone,office,website,chairman,manager,reg_capital,setup_date,end_date,employees,main_business,org_code,credit_code
0,北京广能投资基金管理有限公司,广能基金,北京,北京市,北京市朝阳区北四环中路27号院5号楼2712-2715A,None,北京市朝阳区北四环中路27号院5号楼2712-2715A,www.gnfund.cn,刘锡潜,杨运成,10000.0000,20111031,None,10.0,None,584419680,None
1,宏源证券股份有限公司,宏源证券,新疆,乌鲁木齐市,新疆维吾尔自治区乌鲁木齐市文艺路233号宏源大厦,86-991-2301870,新疆维吾尔自治区乌鲁木齐市文艺路233号宏源大厦,www.hysec.com,冯戎,冯戎,397240.8332,19930525,None,5347.0,主要业务:代理买卖证券.,228593068,None
2,国元证券股份有限公司,国元证券,安徽,合肥市,安徽省合肥市梅山路18号,"86-551-62207323,86-551-62207968",安徽省合肥市梅山路18号,www.gyzq.com.cn,蔡咏,俞仕新,336544.7047,19970606,None,3330.0,"主营业务:经纪业务,自营投资业务,投行业务,资产管理业务,基金管理业务,期货业务,境外业务国...",731686376,91340000731686376P
3,广发证券股份有限公司,广发证券,广东,广州市,广东省广州市黄埔区中新广州知识城腾飞一街2号618室,"86-20-87555888,86-20-87550565,86-20-87550265","广东省广州市天河区天河北路183-187号大都会广场40楼5楼,7楼,8楼,18楼,19楼,...",www.gf.com.cn,孙树明,林治海,762108.7664,19940121,None,12103.0,主营业务:证券经纪,126335439,91440000126335439C
4,长江证券股份有限公司,长江证券,湖北,武汉市,湖北省武汉市江汉区新华路特8号,"86-27-65799866,86-27-65799856",湖北省武汉市江汉区新华路特8号,www.cjsc.com,尤习贵,刘元瑞,552947.0960,19970724,None,6637.0,主营业务:证券经纪,700821272,91420000700821272A

In [8]:
df = pro.stock_company(exchange='SZSE', fields='ts_code,chairman,manager,secretary,setup_date,province')
df.head()

     ts_code chairman manager secretary setup_date province
0  300304.SZ      付红玲     蔡承儒       郑渲薇   20070427       江苏
1  002635.SZ       吕莉      吕莉       马玉燕   19991216       江苏
2  002836.SZ      肖海兰     肖海兰       夏明珠   20060322       广东
3  002707.SZ       冯滨      冯滨        郭镭   19920811       北京
4  002629.SZ      温志平      陈曦        王晶   20060927       浙江

In [11]:
df = pro.ncov_global(country='美国', fields='country,publish_date,confirmed_num,update_time')
df.head()

  publish_date country  confirmed_num          update_time
0     20200619      美国        2185873  2020-06-19 10:01:28
1     20200618      美国        2164071  2020-06-18 22:33:33
2     20200617      美国        2137731  2020-06-17 15:58:45
3     20200616      美国        2113366  2020-06-16 09:30:34
4     20200615      美国        2092850  2020-06-15 07:41:08

In [18]:
df = pro.cctv_news(date='20201105')
df.head()

,date,title,content
0,20201105,习近平在第三届中国国际进口博览会开幕式上发表主旨演讲,第三届中国国际进口博览会开幕式4日晚在上海举行，国家主席习近平以视频方式发表主旨演讲。习近平...
1,20201105,习近平同意大利总统通电话 庆贺中意建交50周年,在中国和意大利建交50周年之际，国家主席习近平11月4日晚同意大利总统马塔雷拉通电话，互致祝...
2,20201105,习近平将出席上海合作组织成员国元首理事会第二十次会议并发表重要讲话,国家主席习近平即将出席上海合作组织成员国元首理事会第二十次会议。11月5日，外交部举行中外媒...
3,20201105,李克强同意大利总理就中意建交50周年互致贺电,11月4日，国务院总理李克强同意大利总理孔特就中意建交50周年互致贺电。李克强在贺电中表示，...
4,20201105,王沪宁出席学习贯彻党的十九届五中全会精神中央宣讲团动员会,学习贯彻党的十九届五中全会精神中央宣讲团动员会5日在京召开，中共中央政治局常委、中央书记处书...

In [20]:
df = pro.daily(ts_code='000001.SZ', start_date='20200701', end_date='20201105')
df.head()

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,000001.SZ,20201105,18.37,18.50,17.54,17.70,18.32,-0.62,-3.3843,1429469.44,2558562.453
1,000001.SZ,20201104,18.35,18.48,17.96,18.32,17.96,0.36,2.0045,1247636.40,2275824.963
2,000001.SZ,20201103,17.71,18.34,17.70,17.96,17.63,0.33,1.8718,957868.63,1727488.481
3,000001.SZ,20201102,17.65,18.05,17.33,17.63,17.75,-0.12,-0.6761,968452.77,1702741.437
4,000001.SZ,20201030,17.74,18.36,17.60,17.75,17.77,-0.02,-0.1125,1007803.83,1813064.343

In [22]:
#获取申万一级行业列表
df = pro.index_classify(level='L1', src='SW')
df

   index_code industry_name level
0   801020.SI            采掘    L1
1   801030.SI            化工    L1
2   801040.SI            钢铁    L1
3   801050.SI          有色金属    L1
4   801710.SI          建筑材料    L1
5   801720.SI          建筑装饰    L1
6   801730.SI          电气设备    L1
7   801890.SI          机械设备    L1
8   801740.SI          国防军工    L1
9   801880.SI            汽车    L1
10  801110.SI          家用电器    L1
11  801130.SI          纺织服装    L1
12  801140.SI          轻工制造    L1
13  801200.SI          商业贸易    L1
14  801010.SI          农林牧渔    L1
15  801120.SI          食品饮料    L1
16  801210.SI          休闲服务    L1
17  801150.SI          医药生物    L1
18  801160.SI          公用事业    L1
19  801170.SI          交通运输    L1
20  801180.SI           房地产    L1
21  801080.SI            电子    L1
22  801750.SI           计算机    L1
23  801760.SI            传媒    L1
24  801770.SI            通信    L1
25  801780.SI            银行    L1
26  801790.SI          非银金融    L1
27  801230.SI            综合    L1

In [23]:
data = pro.query('stock_basic', exchange='', list_status='L', fields='ts_code,symbol,name,area,industry,list_date')
data.head()

     ts_code  symbol  name area industry list_date
0  000001.SZ  000001  平安银行   深圳       银行  19910403
1  000002.SZ  000002   万科A   深圳     全国地产  19910129
2  000004.SZ  000004  国农科技   深圳      互联网  19910114
3  000005.SZ  000005  世纪星源   深圳     环境保护  19901210
4  000006.SZ  000006  深振业A   深圳     区域地产  19920427

### Homework

1. 取得10家市值最大的**银行行业**的上市公司从去年年初至今的股票的日行情数据，并将该数据存入MySQL数据库

2. 动量效应指的是指股票的收益率有延续原来的运动方向的趋势，即过去一段时间收益率较高的股票在未来获得的收益率仍会高于过去收益率较低的股票。请用调用数据去验证，如随机寻找部分的涨停股票，考察其涨停后几日的发展趋势，并和其他股票进行对比。

3. 有人说持有低市值股票可以获利，请试试是否正确。

#### OECD

https://stats.oecd.org/

The OECD has application programming interfaces (APIs) that provide access to datasets in the catalogue of OECD databases.

Please see the instruction of API as follows

https://data.oecd.org/api/sdmx-json-documentation/

你是否可以取到其中的数据